.chat-input__container {
  background-color: white;
  position: absolute;
  bottom: 20px;
  left: 18.2%;
  right: 20px;
  height: 80px;
}

.chat-input {
  display: flex;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  flex-direction: column;
}

.chat-input.focused {
  border: 1px solid black;
}

.chat-input > input {
  height: 100%;
  flex: 1;
  padding: 0 20px;
  border: none;
  border-radius: 0;
}

.chat-input > input:focus {
  outline: none;
}

.chat-input > button {
  padding: 0 20px;
  flex: 1;
  align-self: flex-end;
}
